.intro h1 {
	font-size: 1em;
	background: chartreuse;
}

@media (max-width: 600px) {
	.intro h1 {
		font-size: 1.5em;
		background: yellow;
	}
}

@media (min-width: 1200px) {
	.intro h1 {
		background: purple;
		color: white;
	}
}

@media (min-width: 1300px) {
	.intro h1 {
		font-size: 5em;
	}
}