*, *:before, *:after {
    box-sizing: border-box;
}

.intro {
    position: relative;
    width: 70vw;
    background: rgba(0,0,255,.25);
    margin-bottom: 5px;
    margin-right: 300px;
}

#zen-supporting{
    background: rgba(255,0,0,.25);
    margin-right: 30vw;
}
header {

}

.summary {

}

.preamble {

}

.sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(0,255,.75);
}

#zen-supporting {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.explanation, .participation, .benefits, .requirements {
    flex: 1;
    flex-basis: 300px;
}

[role=banner] {
    float: left;
    max-width: 400px;
    margin: 0px 25px 25px 25px;
    padding: 2em;
    background: rgba(0,0,255,.25);
    border: 10px solid aqua;
}

footer {
    flex-basis: 15px;
}
